@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');

:root{
    --background-color:#282828;
    --normal-color:#FAFAFA;
    --special-color:#00FF7F;
}
::-webkit-scrollbar{
    display:none;
}
body{
    margin:0;
    padding-top:100px;
    background-color:var(--background-color);
    color:var(--normal-color);
    font-family:'Outfit';
    font-weight:400;
}
input{
    display:block;
    width:200px;
    margin:0 auto;
    padding-bottom:5px;
    border-radius:0;
    outline:none;
    border:none;
    border-bottom:2px solid var(--special-color);
    background-color:inherit;
    color:inherit;
    font-family:'Outfit';
    font-weight:400;
    font-size:1rem;
}
.word{
    width:250px;
    margin:0 auto;
    padding:20px;
    font-size:1rem;
}
.word>*:nth-child(1)>*:nth-child(2){
    font-size:2rem;
    font-weight:bold;
}
.word>*:nth-child(n+2){
    margin-top:10px;
}
.word div b{
    margin-right:10px;
}
.info{
    width:200px;
    margin:0 auto;
    padding:20px;
    border-radius:10px;
}
#welcome{
    width:300px;
    margin:0 auto;
    margin-bottom:50px;
}
blockquote{
    
}
@media(pointer:coarse){
    
}
